# Runtime dependencies
cairosvg==2.8.2
numpy==1.26.4
numba==0.61.2
orjson==3.11.3
pillow==11.3.0
polars==1.32.3
pyside6==6.9.2
pygame==2.6.1
pyyaml==6.0.2
readchar==4.2.1
simpleaudio==1.0.4
structlog==25.4.0

